/* Clases reutilizables */
body {
  font-family: 'Lato', sans-serif;
  background-color: #DBF2F2;
}

header nav {
  background-color: #67F2F1!important;
}

footer {
  background-color: #5CF1DE;
}

/* Helpers */
.btn-style {
  color: #fff;
  background-color: #FE87A2;
  border-color: #FE87A2;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  border-radius: .25rem;
}

.btn-style:hover {
  background-color: #FE9CB2;
  border-color: #FE9CB2;
}

.box-shadow {
  box-shadow:  13px 13px 45px -4px rgba(0,0,0,0.39);
  background-color: #fafafa;
}

.sm-ltr-spacing {
  letter-spacing: 0.5px;
}

.bgr-ltr-spacing {
  letter-spacing: 1px;
}

.dark-ltr {
  color: #272F36!important;
}

.jade-ltr {
  color: #4CC6B6;
}

.jade-ltr:hover {
  color: #67F2F1;
  text-decoration: none;
}

/* Clases específicas */
header nav a {
  color: #767C7A!important;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.5px;
}

header nav a:hover {
  color: #8F9794!important;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #8F9794!important;
}

header input {
  font-weight: bold;
  font-size: 20px;
}

.ui-menu .ui-menu-item {
  background-color: #C8DCDC;
  height: auto;
  font-size: 18px;
  list-style: none;
  width: auto;
}

h1 {
  letter-spacing: 3px;
  font-size: 40px;
}

.modal-content {
  background-color: #DBF2F2;
}

.modal-title {
  color: #272F36;
  font-size: 1.75rem;
}

@media (min-width: 768x) {
  h1 {
  font-size: 35px;
  }
}

@media (min-width: 992px) {
  h1 {
  font-size: 50px;
  }
  .createtopic {
    margin: 0 20%;
  }

  .p-topics {
    margin: 0 20%;
  }
}
